body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    overflow-x: hidden;
    cursor: url('../kwast1.svg'), auto;
}

a:hover {
    cursor: url('../kwast2.svg'), auto;
}