body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 25px;
    overflow-x: hidden;
    cursor: url('../kwast1.svg'), auto;
}

a:hover {
    cursor: url('../kwast2.svg'), auto;
}

p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}

.picture-container {
    width: 100%;
    max-width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

li {
    position: relative;
    background-color: white;
    list-style-type: none;
    border: 5px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type:inline-size;
	container-name:card;

      &:hover{
        transform: scale(1.1);
        transition: .25s;
  }
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
}

@container card (width > 23rem){
    li a {
      flex-direction: row;
    }
}

@media screen and (max-width: 500px) {
    ul{
        grid-template-columns: 1fr;
        grid-template-areas:
  "a"
  "b"
  "c"
  "d"
  "e"
  "f"
  "g"
  "h"
  "i"
  "j"
  "k"
  "l"
  "m"
  "n"
  "o"
  "p"
  "q"
  "r"
  "s"
  "t"
  "u";
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j"
            "k l"
            "m n"
            "o p"
            "q r"
            "s t"
            "u v";
    }
}

